<link rel="stylesheet" href="site.css">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
    <h1><a class="navbar-brand" href="\" style="padding-right: 8%;color: orangered;">Oven Overflow</a></h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="\recipes">Recipe</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="\pantry">Pantry</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="\create">Create</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="\qa">Question & Answer</a>
        </li>
      </ul>
      <a class="nav-link" href="\login"><button id="login" class="btn btn-outline-primary"> <%= ejsData.name %> </button></a>
    </div>
</nav>